@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 15px;
}


.header1{
    background-color: #DAA520;
    display:flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color:white;
    padding: 0.2rem 10%;


}
 p{
    margin-right: 1rem; 
}
.header2{
    background-color: white;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding: 1rem 10%;
    justify-content: space-between;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.header2 .navbar a{
    margin-left: 2rem;
    font-size: 1rem;
    color: black;
}
a:hover{
    color:#DAA520;
}
